<div class="sites-selector">
  <div class="sites-selector__header">
    <span class="p-input-icon-left">
      <i class="pi pi-search" style="font-size: 1.5rem"></i>
      <input
        type="text"
        pInputText
        [(ngModel)]="filterSite"
        (ngModelChange)="filterSites()"
        placeholder="Search Sites" />
    </span>
    <div class="container">
      <p-button
        label="New"
        icon="fa-regular fa-square-plus"
        class="container__newBtn"
        iconPos="left"
        (click)="addNewSite()"></p-button>
    </div>
  </div>

  <div class="sites-selector__content">
    <ng-container *ngFor="let card of updatedData">
      <app-selectable-card
        [cardData]="card"
        (click)="updateSite(card)"></app-selectable-card>
    </ng-container>
  </div>
</div>
