<form [formGroup]="tankRefillForm" (ngSubmit)="onSubmit()">
  <div class="top-row">
    <app-label-value-card
      [title]="Title"
      [showArrow]="false"
      [showIcon]="false">
      <ng-template #Title>
        <div class="refill-header">
          <div class="refill-title">
            <h1>{{ operationType }}</h1>
          </div>
          <div class="refill-ref-no">
            <span>ERP Ref:</span>
            <input
              type="text"
              pInputText
              formControlName="erpRef"
              placeholder="Enter ERP Reference" />
          </div>
        </div>
      </ng-template>
      <div style="display: flex; justify-content: flex-end; width: 100%">
        <p-calendar
          dateFormat="dd/mm/yy"
          inputId="calendar-12h"
          formControlName="timestamp"
          [showTime]="true"
          hourFormat="12" />
      </div>
    </app-label-value-card>
  </div>
  <div class="refuel-asset">
    <ng-container
      *ngIf="operationType !== this.tankRefuelOperationTypes.MAIN_TANK">
      <app-label-value-card
        title="Refuel From"
        subtitle="Select Fuel Source"
        faIconClass="fa-tint">
        <p-dropdown
          [options]="sourceList"
          optionLabel="name"
          [filter]="true"
          filterBy="label"
          formControlName="fuelSource"
          [showClear]="true"
          [style]="inputStyle"
          placeholder="Select a Fuel Source"
          (onChange)="onFuelSourceChanged($event)"
          [required]="true" />
      </app-label-value-card>
      <app-label-value-card
        title="Fuel Start Meter"
        subtitle="Enter tank start meter reading">
        <p-inputNumber
          mode="decimal"
          [maxFractionDigits]="2"
          placeholder="Enter tank start reading"
          formControlName="tankStartReading"
          [style]="inputStyle"
          (onInput)="onFuelMeterValueChanged()" />
      </app-label-value-card>
    </ng-container>
    <ng-container
      *ngIf="operationType !== this.tankRefuelOperationTypes.BOOKING">
      <app-label-value-card
        title="Refuel To"
        subtitle="Select tank to refuel"
        faIconClass="fa-tint">
        <p-dropdown
          placeholder="Select tank to refuel"
          formControlName="destinationTank"
          [options]="destinationList"
          optionLabel="name"
          [filter]="true"
          filterBy="label"
          [showClear]="true"
          [style]="inputStyle" />
      </app-label-value-card>
    </ng-container>
    <ng-container *ngIf="fueledbyMeter; else FueledByOtherMeans">
      <app-label-value-card
        title="Fuel End Meter"
        subtitle="Enter tank end meter reading">
        <p-inputNumber
          mode="decimal"
          [maxFractionDigits]="2"
          placeholder="Enter tank end reading"
          formControlName="tankEndReading"
          [style]="inputStyle"
          (onInput)="onFuelMeterValueChanged()" />
        <ng-container *ngIf="fuelQuantity > 0">
          <span
            style="font-size: large; color: cornflowerblue; font-weight: 600">
            {{ fuelQuantity.toFixed(2) }} (L) used.
          </span>
        </ng-container>
      </app-label-value-card>
    </ng-container>
    <ng-template #FueledByOtherMeans>
      <app-label-value-card
        title="Fuel Recieved Quantity"
        subtitle="Enter fuel quantity recieved (L)">
        <p-inputNumber
          mode="decimal"
          [maxFractionDigits]="2"
          placeholder="Enter fuel quantity recieved"
          formControlName="fuelDispensed"
          [style]="inputStyle"
          (onInput)="onFuelMeterValueChanged()" />
      </app-label-value-card>
    </ng-template>
    <app-label-value-card
      title="Comment"
      subtitle="Leave a comment"
      faIconClass="fa-comments">
      <textarea
        rows="5"
        cols="40"
        pInputTextarea
        formControlName="comment"></textarea>
    </app-label-value-card>
    <div class="footer">
      <p-button label="Save" type="submit" icon="pi pi-check"></p-button>
    </div>
  </div>
</form>
