<div class="app-container">
  <div class="app-header">
    <app-header icon="fa-light fa-droplet" title="Fuel Management"></app-header>
  </div>
  <div class="app-actions">
    <!-- <app-actions [availableViews]="viewTypes" [selectedView]="currentSelectedView"
        [selectedSubModule]="currentSelectedSubModule" [modules]="modules"
        (clickViewChange)="onClickViewChange($any($event))" (changeActionSelection)="onChangeActionSelection($any($event))"
        (changeNavigationOnAction)="
            onChangeSubModule($any($event))
          "></app-actions> -->
  </div>
  <div class="app-main">
    <div class="app-aside" *ngIf="configDataService.isAsideVisible">
      <div class="aside-content">
        <ng-container *ngComponentOutlet="configDataService.asideComponent">
        </ng-container>
      </div>
    </div>
    <div class="app-component">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<p-toast position="bottom-right" key="br"></p-toast>
