<div class="site-main">
  <p-tabView [(activeIndex)]="activeIndex">
    <p-tabPanel header="Site Details">
      <app-site-details (nextTab)="onNextTab()"></app-site-details>
    </p-tabPanel>
    <p-tabPanel header="Site Shifts Configuration">
      <app-site-shifts-configuration
        (backTab)="onBackTab()"
        (saveTab)="onBackTab()"></app-site-shifts-configuration>
    </p-tabPanel>
    <p-tabPanel [disabled]="true" header="KMZ Files"></p-tabPanel>
    <p-tabPanel [disabled]="true" header="Trip Details"></p-tabPanel>
    <p-tabPanel [disabled]="true" header="Specifications"></p-tabPanel>
  </p-tabView>
</div>
