@import '../../../styles';

.sidebar {
  height: 100vh;
  width: 6rem;
  background: linear-gradient(90deg, var(--primary-color) 0%, var(--highlight-text-color) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.sidebar-logo {
  border-bottom: solid 1px var(--surface-d);
  height: 8rem;

  img {
    width: 6rem;
  }
}

.sidebar-icons {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sidebar-icons button {
  color: var(--surface-a);
  width: 5rem;
  height: 5rem;
}

.sidebar-icons button:not(.active,.active-module):hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-icons .active,.active-module {
  background: #3282EB;
  box-shadow: none;
}

.config-bottom {
  position: fixed;
  bottom: 2rem;
}