@import '../../../styles';

// .container {
//   background: linear-gradient(90deg, #1f60c0 0%, #0d4493 100%);
//   height: 100%;
//   display: flex;
//   flex-direction: column;
//   gap: 3rem;
//   flex-wrap: wrap;

//   &-list {
//     display: flex;
//     align-items: center;

//     span {
//       color: $color-white;
//       margin-left: 1rem;
//     }
//   }
// }

// .branding__logo {
//   height: 3rem;
//   width: 3rem;
// }

// .navigation {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
//   gap: 1.5rem;

//   .mdc-list-item {
//     height: 6rem;
//   }
// }

// mat-icon {
//   color: $color-white;
// }
// .footer {
//   margin-top: auto;
// }

// .active {
//   border-radius: 1rem;
//   background: #3282eb;
//   box-shadow: 0px 0px 3px 0px #adb5c2;
//   width: 95%;
// }

// .divider {
//   margin: 0.5rem 0;
//   border-color: white;
// }

// =============

.sidebar {
  height: 100vh;
  width: 60px;
  background: linear-gradient(90deg, #1F60C0 0%, #0D4493 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.sidebar-logo {
  border-bottom: solid 1px #eee;
  height: 8rem;

  img {
    width: 6rem;
  }
}

.sidebar-icons {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sidebar-icons button {
  color: white;
  // font-size: 24px;
  width: 5rem;
  height: 5rem;
}

.sidebar-icons button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-icons button:focus {
  background:   #3282EB;;
  // box-shadow: 0 0 0 0px #83adeb, 0 1px 2px 0 rgb(0, 0, 0);
  // border: none;
  box-shadow: none;
  // border-radius: 0;
}

::ng-deep .sidebar-icons button svg {
  font-size: 30px;
}

.config-bottom {
  position: fixed;
  bottom: 2rem;
}
