<div class="btn">
  <a
    *ngIf="viewButton"
    (click)="viewBtn($event)"
    matTooltip="View"
    triggers="mouseenter:mouseleave"
    container="body">
    <i class="fa fa-eye"></i>
  </a>
  <a
    *ngIf="editButton"
    (click)="editBtn($event)"
    matTooltip="Edit"
    triggers="mouseenter:mouseleave"
    container="body">
    <i class="far fa-edit"></i>
  </a>
  <a
    *ngIf="deleteButton"
    (click)="deleteBtn($event)"
    matTooltip="Delete"
    triggers="mouseenter:mouseleave"
    container="body">
    <i class="fa fa-trash-alt"></i>
  </a>
</div>
