@import '../../../styles';

.container {
  height: 100%;
  display: flex;
  justify-content: space-between;

  &__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 2rem;
  }

  &__header-icon{
    font-size: 5rem;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__header-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .title {
      font-size: 3rem;
      color: var(--text-color);
      font-weight: 500;
      line-height: 3.5rem;
    }
  }

  &__right {
    width: 40%;
  }

  &__right-content {
    height: 100%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 1rem;
  }

  &__input-action-content{
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    align-items: center;
    width: 100%;
  }

  &__icons {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    gap: 2rem;
    font-size: 2rem;

    .primary-theme{
      color: var(--primary-color);
    }
  }

  &__badge {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.breadcrumb {
  font-size: 1.15rem;
}