<div class="container">
  <div class="container__icon">
    <mat-icon>{{ icon }}</mat-icon>
  </div>
  <div class="container__title">{{ title }}</div>
  <div class="container__breadcrumb">
    <xng-breadcrumb [separator]="iconTemplate"></xng-breadcrumb>
    <ng-template #iconTemplate>
      <mat-icon>chevron_right</mat-icon>
    </ng-template>
  </div>
  <div class="container__spacer"></div>
  <div class="container__search">
    <input placeholder="Search Site, Asset, Asset Class" />
  </div>
  <div class="container__info">
    <button mat-icon-button>
      <mat-icon matBadge="15" matBadgeColor="warn" matBadgeSize="small"
        >notifications</mat-icon
      >
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="container__info-person">person</mat-icon>
    </button>
  </div>
  <div class="container__actions">
    <button mat-flat-button class="container__actions-item">
      <mat-icon>lab_profile</mat-icon>
      Report
    </button>
    <button mat-flat-button class="container__actions-item">
      <mat-icon>task</mat-icon>Task
    </button>
    <button mat-flat-button class="container__actions-item">
      <mat-icon>auto_stories</mat-icon>
      LogBook
    </button>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="initiateLogout()">
    <mat-icon>logout</mat-icon>
    <span>Item 1</span>
  </button>
</mat-menu>
