<div
  class="card-container"
  [ngClass]="
    cardData.isSelected
      ? 'card-container--highlighted'
      : 'card-container--normal'
  ">
  <div class="card-container__header">
    <h3 [pTooltip]="cardData.header">
      {{ cardData.header }}
    </h3>
  </div>
  <div class="card-container__details">
    <div
      class="card-container__column card-container__column--{{
        cardData.columns.length
      }}"
      [ngClass]="column?.class"
      *ngFor="let column of cardData.columns">
      <span> {{ column?.label }}</span>
      <p
        class="card-container__paragraph"
        [pTooltip]="column.value"
        [ngStyle]="{ color: column?.color }">
        {{ column.value }}
      </p>
    </div>
  </div>
</div>
