@import '../../../styles.scss';

.container {
  height: 100%;
  display: grid;
  grid-template-columns: minmax(max-content, 10rem) 1fr 1fr max-content;
  grid-template-rows: 1fr;
  align-items: center;
  .view {
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    &__title {
      margin: 0 4rem 0 2rem;
      color: $color-grey-dark-2;
    }

    mat-button-toggle {
      border-radius: 2rem;
      margin-right: 3rem;
      padding: 0px 4px 0px 4px;
      border: 1px solid $color-grey-dark-3;
      font-size: 14px;
      font-weight: 500;
      box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
    }

    mat-button-toggle-group > mat-button-toggle {
      display: flex;
      align-items: center;
    }

    mat-button-toggle-group {
      border: 0 !important;
    }

    .mat-button-toggle-checked {
      background-color: $color-secondary;
      color: $color-white;
    }
  }

  .spacer {
    grid-column: 2 / 3;
  }

  .toggle {
    grid-column: 3 / 4;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .mat-mdc-raised-button.button-selection {
      background-color: $color-primary;
      color: $color-white;
    }
  }

  .events {
    grid-column: 4 / -1;
    margin-left: 1rem;
    border-left: 1px solid $color-grey-dark-3;

    &-item {
      margin: 0 1rem;

      mat-icon {
        font-size: 1.2rem;
      }
    }
  }
}
