<div class="container">
  <div class="view">
    <span class="view__title">View: </span>
    <mat-button-toggle-group
      [(ngModel)]="selectedView"
      class="toggle-button-container"
      (click)="onViewChange()">
      <mat-button-toggle [value]="availableViews[0]" aria-label="Home">
        <mat-icon>home</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle [value]="availableViews[1]" aria-label="Map">
        <mat-icon>location_on</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle [value]="availableViews[2]" aria-label="Side Nav">
        <mat-icon>side_navigation</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="spacer"></div>
  <div class="toggle">
    <ng-container *ngFor="let button of modules">
      <button mat-raised-button *ngIf="button.preferred">
        {{ button.subModuleName }}
      </button>
    </ng-container>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="container__info-person">add</mat-icon>
    </button>
  </div>
  <div class="events">
    <button mat-stroked-button class="events-item">
      <mat-icon>tune</mat-icon>
      Filter
    </button>
    <button mat-stroked-button class="events-item">
      <mat-icon>post_add</mat-icon>
      Activity
    </button>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <ng-container *ngFor="let button of modules">
      <mat-checkbox
        [checked]="button.preferred"
        (change)="onActionSelectionChange(button.subModuleId)">
        <button mat-button>
          {{ button.subModuleName }}
        </button>
      </mat-checkbox>

      <mat-divider></mat-divider>
    </ng-container>
  </button>
</mat-menu>
