@import '../../../styles.scss';

.container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__left {
    padding: 1rem 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    color: var(--text-color);
  }

  &__title {
    font-size: 1.3rem;
    font-weight: 500;
  }

  &__toggle-btn-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
  }

  &__right {
    height: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    width: 60%;

    .add-icon {
      font-size: 2rem;
      color: var(--text-color-secondary);
    }
  }

  &__sub-menu-bar {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    width: 100%;
  }

  &__sub-menu-div {
    width: 100%;
  }

  &__action-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
  }
}
