<div class="shift-container">
  <div class="shift-container-content">
    <div class="header">
      <div class="drop-down">
        <label for="numOfShifts">No. of shifts</label>
        <p-dropdown
          [options]="shiftOptions"
          [(ngModel)]="selectedShift"
          placeholder="Select a shift"
          (onChange)="updateShifts()"></p-dropdown>
      </div>
      <div class="check-box">
        <i
          class="fa-solid fa-eye"
          style="color: #1f60c0; font-size: 20px; margin-right: 10px"></i>
        <p-checkbox
          [(ngModel)]="checked"
          [binary]="true"
          inputId="binary"></p-checkbox>
        <label for="binary">Enable Alert</label>
      </div>
    </div>
    <div *ngFor="let shift of shifts; let i = index" class="shift-group">
      <div *ngIf="i > 0" class="divider"></div>
      <div class="form-group">
        <div class="form-row">
          <div class="form-item shift-number">
            <h4>Shift No: {{ i + 1 }}</h4>
          </div>
          <div class="form-item input-container">
            <div class="flex flex-column gap-2">
              <label for="startTime-{{ i }}">Start Time:</label>
              <div class="input-icon">
                <p-calendar
                  id="startTime-{{ i }}"
                  [(ngModel)]="shift.startTime"
                  [showIcon]="true"
                  [timeOnly]="true"
                  inputId="startTime-{{ i }}">
                </p-calendar>
              </div>
            </div>
          </div>
          <div class="form-item input-container">
            <div class="flex flex-column gap-2">
              <label for="endTime-{{ i }}">End Time:</label>
              <div class="input-icon">
                <p-calendar
                  id="endTime-{{ i }}"
                  [(ngModel)]="shift.endTime"
                  [showIcon]="true"
                  [timeOnly]="true"
                  inputId="endTime-{{ i }}">
                </p-calendar>
              </div>
            </div>
          </div>
          <div class="form-item delete-container">
            <button class="delete-button" (click)="deleteShift(shift.id, i)">
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="site-shifts-footer">
    <p-button
      label="Back"
      [outlined]="true"
      severity="danger"
      class="custom-button"
      (click)="onBack()"></p-button>
    <p-button
      label="Save"
      iconPos="right"
      icon="fa-solid fa-check"
      class="custom-button"
      (click)="onNext()"></p-button>
  </div>
</div>
