<div class="container">
  <div class="container__left">
    <div class="container__header">
      <img
        src="./../../../../assets/cog_white logo.svg"
        alt="cognecto_logo"
        class="container__logo" />
      <div class="container__content">
        <h5>Trusted by industrial leaders for Operational Excellence.</h5>
        <p>
          Unlock real-time insights to transform to transform operations with
          sustainable practices and operational excellence.
        </p>
      </div>
    </div>

    <p-carousel
      [value]="carouselData"
      [circular]="true"
      [showNavigators]="false"
      [showIndicators]="true"
      [autoplayInterval]="2000">
      <ng-template let-carouselData pTemplate="item">
        <div class="container__banner-slider">
          <div class="container__desc-left">
            <img
              class="container__icon"
              [src]="carouselData.icon"
              [alt]="carouselData.iconAlt" />
          </div>
          <div class="container__desc-right">
            <h6>{{ carouselData.title }}</h6>
            <p>{{ carouselData.description }}</p>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
  <div class="container__right">
    <div class="container__signin-form">
      <div class="container__right-header">
        <h3>Sign in</h3>
        <p>Please login to continue to your account.</p>
      </div>
      <form
        [formGroup]="loginForm"
        autocomplete="off"
        novalidate
        (ngSubmit)="onSubmit()"
        class="container__form">
        <span class="p-float-label p-input-icon-right">
          <input
            type="text"
            pInputText
            class="p-inputtext-lg"
            formControlName="username" />
          <i class="pi pi-user"></i>
          <label>Username</label>
        </span>
        <span class="p-float-label">
          <p-password
            [feedback]="false"
            formControlName="password"
            class="p-inputtext-lg"
            [toggleMask]="true"></p-password>
          <label>Password</label>
        </span>
        <a href="">forgot password ?</a>
        <p-button
          label="Sign In"
          [loading]="isSpinner"
          type="submit"></p-button>
      </form>
      <div class="container__footer">
        <p-divider align="center">
          <p>or</p>
        </p-divider>
        <p>Need an account? <a href="#">connect</a></p>
      </div>
    </div>
  </div>
</div>
