<form [formGroup]="siteForm" (ngSubmit)="onNext()">
  <div class="sites-description">
    <div class="sites-description__content">
      <div class="flex flex-column gap-2">
        <label for="siteDescription">Site Description*</label>
        <input
          id="siteDescription"
          type="text"
          pInputText
          formControlName="description"
          autocomplete="off" />
      </div>
      <div class="flex flex-column gap-2">
        <label for="siteName">Site Name*</label>
        <input
          id="siteName"
          type="text"
          pInputText
          formControlName="name"
          autocomplete="off" />
      </div>
      <div class="flex flex-column gap-2">
        <label for="timezone">Timezone</label>
        <input
          id="timezone"
          type="text"
          pInputText
          formControlName="timeZone"
          autocomplete="off" />
      </div>
      <div class="flex flex-column gap-2">
        <label for="siteLocation">Site Location</label>
        <input
          id="siteLocation"
          type="text"
          pInputText
          formControlName="location"
          autocomplete="off" />
      </div>
      <div class="flex flex-column gap-2">
        <label for="refuelByBarrel">Refuel By Barrel</label>
        <input
          id="refuelByBarrel"
          type="text"
          pInputText
          formControlName="refuelByBarrel"
          autocomplete="off" />
      </div>
      <div class="flex flex-column gap-2">
        <label for="siteType">Site Type</label>
        <p-dropdown
          id="siteType"
          [options]="siteTypes"
          formControlName="type"
          placeholder="Select a Site Type">
        </p-dropdown>
      </div>
      <div class="flex flex-column gap-2">
        <label for="utilizationHour">Utilization Hour</label>
        <input
          id="utilizationHour"
          type="text"
          pInputText
          formControlName="utilizationHour"
          autocomplete="off" />
      </div>
      <div class="flex flex-column gap-2">
        <label for="siteStatus">Site Status</label>
        <p-dropdown
          id="siteStatus"
          [options]="siteStatus"
          formControlName="status"
          placeholder="Select a Site Status">
        </p-dropdown>
      </div>
    </div>
    <div class="sites-description__buttons">
      <p-button
        label="Back"
        [outlined]="true"
        severity="danger"
        class="custom-button"
        (onClick)="onBack()"></p-button>
      <p-button
        label="Next"
        iconPos="right"
        icon="fa-solid fa-arrow-right"
        class="custom-button"
        (click)="onNext()"></p-button>
    </div>
  </div>
</form>
