<div class="ag-grid__header">
  <span class="p-input-icon-left">
    <i class="pi pi-search" style="font-size: 1.5rem"></i>
    <input
      type="text"
      pInputText
      [(ngModel)]="filterSite"
      (ngModelChange)="filterSites()" />
  </span>
  <p-button
    label="New"
    icon="fa-regular fa-square-plus"
    class="container__newBtn"
    iconPos="left"
    (click)="addNewSite()"></p-button>
</div>
<div
  class="ag-theme-alpine custom-ag-theme-basic"
  style="height: 80vh; width: 100%">
  <ag-grid-angular
    style="width: 100%; height: 100%"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [pagination]="true"
    [components]="components"
    [context]="context"
    [paginationPageSize]="10"
    (gridReady)="onGridReady($event)"
    class="ag-theme-alpine">
  </ag-grid-angular>
</div>

<p-confirmDialog
  [style]="{ width: '40vw', 'font-size': '15px' }"></p-confirmDialog>

<p-toast></p-toast>
