@import '../../../styles.scss';

.sites-ag-grid {
  &__header {
    padding: 1rem;
    display: flex;
    align-items: center;
    border-bottom: 0.1rem solid var(--gray-300);

    .search-icon {
      margin: 0 3rem;
    }
  }
  &__table {
    padding: 2rem;
    padding-bottom: 0;
    width: 100%;

    ag-grid-angular {
      width: 100%;
      height: calc(100vh - 28.5rem);
      box-shadow: 0 0.4rem 1.8rem 0.2rem rgba(144, 144, 144, 0.25);
    }
  }
}