<div class="sites-container__header">
  <span class="p-input-icon-left search-icon">
    <i class="pi pi-search"></i>
    <input
      type="text"
      placeholder="Search Site"
      pInputText
      [(ngModel)]="searchInput"
      (input)="onSearchInputChange($event)" />
  </span>
  <p-button
    label="New"
    icon="fa-regular fa-square-plus"
    class="sites-container__new-btn"
    iconPos="left"
    (click)="addNewSite()"></p-button>
</div>
<div class="sites-container__table">
  <ag-grid-angular
    [gridOptions]="gridOptions"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    (gridReady)="onGridReady($event)"
    class="ag-theme-alpine custom-ag-theme-basic"></ag-grid-angular>
</div>
<p-confirmDialog
  [style]="{ width: '40vw', 'font-size': '1.5rem' }"></p-confirmDialog>
