@import './styles/abstracts/mixins';
@import './styles/abstracts/variables';

/* as base uses mixins it should be imported after mixins */
@import './styles/base/base';
@import './styles/base/utilities';
@import './styles/base/grid';

@import "primeng/resources/primeng.css";
@import 'src/styles/theme/theme.css';
@import '/node_modules/primeflex/primeflex.css';
@import "primeicons/primeicons.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Poppins, 'Helvetica Neue', sans-serif;
}

.container__badge {
  span {
    background-color: #FF6961;
  }
  .pi {
    font-size: 2rem;
  }
}
