<div class="app-container">
  <div class="app-header">
    <app-header
      icon="fa-light fa-gear-complex"
      title="Maintenance"></app-header>
  </div>
  <div class="app-actions">
    <app-actions
      [availableViews]="viewTypes"
      [selectedView]="currentSelectedView"
      [selectedSubModule]="currentSelectedSubModule"
      [modules]="modules"
      (clickViewChange)="onClickViewChange($any($event))"
      (changeActionSelection)="onChangeActionSelection($any($event))"
      (changeNavigationOnAction)="
        onChangeSubModule($any($event))
      "></app-actions>
  </div>
  <div class="app-main">
    <div class="app-aside" *ngIf="isAsideVisible">
      <div class="aside-content">
        <app-chart-card [chartData]="chartData"></app-chart-card>
        <app-chart-card [chartData]="chartData"></app-chart-card>
        <app-chart-card [chartData]="chartData"></app-chart-card>
        <app-chart-card [chartData]="chartData"></app-chart-card>
      </div>
    </div>
    <div class="app-component">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
